
.react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    outline: none;
    border: 0;
    border-bottom: 2px solid #2b8a9d;
    border-radius: 2px;
    margin-left: 5px;
    text-transform: capitalize;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    padding: 0;
    width: 189px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 300;
    font-size: 16px;
    border-radius: 5px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 5px 10px;
    text-transform: capitalize;
    margin: 0;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #2b8a9d;
    color: #fff;
  }

  @media only screen and (max-width: 480px){
    .react-autosuggest__suggestions-container--open{
      width: 168px;
    }
  }